@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #323b4c;

  /* font-family: 'Inter', sans-serif; */

font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 28px;
}

.bg-grey-light {
  background-color: #7b7f86;
}

.bg-grey {
  background-color: #35251d;
}

.bg-white {
  background-color: #fdfdfd;
}

.color-grey {
  color: #7b7f86;
  color: #35251d;
}

.color-white {
  color: #fdfdfd;
}

p {
  /* color: #d0d0d1;
  color: #7b7f86; */
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  /* min-height: 100vh; */

  background-color: blue;

  display: grid;
  grid-template-columns: 1fr 2fr;
  
}

.side-left {
  padding-left: 50px;
  
}

.side-left-top,
.side-right-top {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0;
}



.photo {
  margin: 0 auto;
  border-radius: 50%;

  overflow: hidden;

  width: 250px;
  height: 250px;
}

.photo-img {
  width: 250px;
  height: 331px;
}

.line-white {
  width: 100%;
  height: 2px;
}

.block + .block{
  margin-top: 30px;
}
.small-block {
  margin-top: 30px;
}

.side-right {
  padding-left: 50px;
  padding-right: 50px;
}

.name {
  font-size: 4vw;
  font-weight: 700;
}

.profession {
  font-size: 2vw;
  font-weight: 300;
}

.short-desc {
  text-align: justify;
}

.line-grey {
  width: 100%;
  height: 2px;
}